$pilka: rgb(94, 94, 94);
$melyna: rgb(36, 173, 173);
$sriftas: 'Do Hyeon', sans-serif;
header {
    border-bottom: solid rgb(236, 241, 241) 2px;
    
.container {
    height: 3em;
    align-items: center;    
}
div {
    display: flex;    
}
#app {
    font-weight: 900;   
    font-family: $sriftas; 
    color: $pilka;
}        
#strap {
    font-family: $sriftas;
    color: $melyna;        
}
#taskas {
    font-family: $sriftas;
    color: $pilka;    
}
.logo {
    flex-basis: 70vw;
}
.ms {
    flex-basis: 30vw;
.material-icons { 
    color: $pilka; 
    font-size: 1.2em; 
    font-weight: 900; 
    position: relative;
    left: 15%;
    top: 5px;
}
}


}
