$pilka: rgb(94, 94, 94);
$melyna: rgb(36, 173, 173);
$sriftas: 'Open Sans', sans-serif;
header {
    border-bottom: solid rgb(236, 241, 241) 2px;
    
.menu {
    height: 3em;
    align-items: center;    
}
div {
    display: flex;    
}
#app {
    font-weight: 900;   
    font-family: $sriftas; 
    color: $pilka;
}        
#strap {
    font-family: $sriftas;
    color: $melyna;        
}
#taskas {
    font-family: $sriftas;
    color: $pilka;    
}
.logo {
    flex-basis: 80vw;
    margin-left: 5%;
    margin-top: auto;
}
.ms {
    flex-basis: 20vw;
.material-icons { 
    color: $pilka; 
    font-size: 1.2em; 
    font-weight: 900; 
    position: relative;
    left: 15%;
    top: 5px;
}
}
}
.login {
    // flex-grow: 1;
    margin: auto;
    display: flex;
    height: 55vmin;
    
    .login1 {        
        box-shadow: 0px 0.2px 5px 0.5px #cfcfcf;
        margin: auto;
        width: 75%;
        height: 80%;  
        font-family: $sriftas;     
        font-weight: 900;
            button {
                width: 40px;
                height: 20px;
                font-size: 0.65em;
                background-color: $melyna;
                color: white;
                border: $melyna;
                border-radius: 10%;
            }
            .form-group {
                height: 1em;

                #exampleInputEmail1 { height: 1.4em; }
                #exampleInputPassword1 { height: 1.4em;}
                
            }
            
            
      
        
}
}
